{% extends 'layout.html' %}

{% block head %}

<div class="card">
    <div class = "container">
        <p>FILE NOTE GENERATOR</p>
        <form action="/" method="post">
        <label for="mname" id="smname">Select Matter Name:</label><br>
        <select id="mname" name="mname"><br>
        {% for name in namelist %}
        <option value="{{name}}">{{name}}</option>
        {% endfor %}
        </select><br>
        <label id="atlabel">Attendance Type</label><br>
                 {% for type in attendtype %}
                <input type="checkbox" id="att" name="{{type}}" value="{{type}}">
                <label for="att">{{type}}</label>
                {% endfor %}
                <br>
            <br>
         <label id="attupon">Attendance Upon</label><br>
        {% for type in attendon %}
        <input type="checkbox" id="atton" name="{{type}}" value="{{type}}">
        <label class="checkbox-label" for="atton">{{type}}</label>
        {% endfor %}
        <p>Date:     {{today}}</p>
        <p>Time:     {{smalltime}}</p><br>
        <button type="button" value="author" id="author">Author is HM</button>
            <br>
        <label for="content">Enter the content of the file note:</label><br>
        <textarea name="content" id="content" cols="30" rows="10"></textarea>
        <br>
        <input id="sbbtn" name="submit_button" type="submit" value="Submit" method="post">
    </form>
    </div>
</div>
<div class="content">

{% endblock %}

{% block body %}



<!--    <h1> File Note Generator</h1>-->
<!--    <table>-->
<!--        <tr>-->
<!--        {% print 'hello' %}-->
<!--            <th>{% print 'hi' %}</th>-->
<!--        </tr>-->
<!--    </table>-->

<!--    <form action="/" method="post">-->
<!--        <label for="mname">Select Matter Name:</label><br>-->
<!--        <select id="mname" name="mname"><br>-->
<!--        {% for name in namelist %}-->
<!--        <option value="{{name}}">{{name}}</option>-->
<!--        {% endfor %}-->
<!--        </select><br>-->
<!--        <label>Attendance Type</label><br>-->
<!--        {% for type in attendtype %}-->
<!--        <input type="checkbox" id="{{type}}" name="{{type}}" value="{{type}}">-->
<!--        <label for="{{type}}">{{type}}</label>-->
<!--        {% endfor %}-->
<!--        <br>-->
<!--        <label>Attendance Upon</label><br>-->
<!--        {% for type in attendon %}-->
<!--        <input type="checkbox" id="{{type}}" name="{{type}}" value="{{type}}">-->
<!--        <label for="{{type}}">{{type}}</label>-->
<!--        {% endfor %}-->
<!--        <p>Date:     {{today}}</p>-->
<!--        <p>Time:     {{smalltime}}</p><br>-->
<!--        <label for="content">Enter the content of the file note:</label><br>-->
<!--        <textarea name="content" id="content" cols="30" rows="10"></textarea>-->
<!--        <br>-->
<!--        <input type="submit" value="Submit input">-->
<!--    </form>-->
</div>

{% endblock %}